
html, body
{
	height: 100%;
	
}


.col-lg-4{
	
	display: inline-block	;
}

.img{
	width: 200px;
	height: 200px;
}

.container-fluid{
	margin-top: 50px;
}

.category{
	margin: 1rem 40px;
	text-align: center;
}





body
{
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: 'Source Sans Pro', sans-serif;
	
	
}


.container
{
	margin: 0px auto;
	width: 1200px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	padding: 2em 0em;
	background: #FFF;
}

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 1.5em;
	left: 0;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
}

#logo span
{
	position: absolute;
	top: 1.4em;
	display: inline-block;
	padding-left: 1.50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a
{
	text-decoration: none;
	color: #197d62;
	font-size: 50px;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 1em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 60px;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #212121;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu li.current_page_item a
{
	background: #197d62;
	color: #FFF !important;
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em;
	border-bottom: 2px solid #E3E3E3;
	text-align: center;
}

#page .button
{
	margin-top: 2em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
	padding: 0em 7em;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/
