ul {
    margin-bottom: 0.5rem;
}

#recipeDetails {
    display: none;
}

#searchTxt {
    width: 100%;
}

#recipeImg {
    border-radius: 10px;
    width: 380px;
     height:auto;
}

@media screen and (max-width: 767px){ 
    iframe {
        display: block;
        width: 100%;
        height: auto;
    }
}

#youtube {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  #youtube iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
  .header
  {
      background-color: bisque;
  }
  .headLine{
    font-size:45px;
    font-weight: 900;
    margin-top: 15px;  
}
.ui.icon.input{
    margin-top: 15px;
}

@media screen and (min-width: 601px) {
    h1.headLine {
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 1080px) {
      h1.headLine {
        font-size: 35px;
      }
    }
    
  @media screen and (max-width: 600px) {
    h1.headLine {
      font-size: 24px;
    }
  }
 .ui.stackable.grid{
    display: flex;
    width: 100%;
    clear: both;
    margin-bottom: 1rem;
}
